/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  background: white;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: DelaGothicOne;
  src: url(../assets/font/DelaGothicOne-Regular.ttf);
}
@font-face {
  font-family: Montserrat;
  src: url(../assets/font/Montserrat-SemiBold.ttf);
}
h1 {
  font-family: DelaGothicOne;
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 3.5rem;
}

h2 {
  font-family: DelaGothicOne;
  font-size: 3rem;
  font-weight: 400;
  line-height: 3rem;
}

h3 {
  font-family: DelaGothicOne;
  font-size: 2rem;
  font-weight: 400;
  line-height: 2rem;
}

h4 {
  font-family: DelaGothicOne;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5rem;
}

h5 {
  font-family: DelaGothicOne;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1rem;
}

.font-body1 {
  font-family: Montserrat;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5625rem;
}

.font-body2 {
  font-family: Montserrat;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.375rem;
}

.font-body3 {
  font-family: Montserrat;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.25rem;
}

.font-label, .label, .layout .banner .title, .layout .banner p.sub-title {
  font-family: Montserrat;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.0625rem;
}

.font-button1 {
  font-family: Montserrat;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.5625rem;
}

.font-button2, .btn-primary, .btn-outline, .btn-text {
  font-family: Montserrat;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.375rem;
}

.font-link1 {
  font-family: Montserrat;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25rem;
}

.font-link2 {
  font-family: Montserrat;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
}

.btn-primary {
  border-radius: 100px;
  background-color: #C3DCE3;
  color: #2B788B;
  padding: 0.875rem 1.375rem;
  border: none;
}

.btn-primary:hover {
  background-color: #2B788B;
  color: #FFFFFF;
}

.btn-outline {
  border-radius: 100px;
  background-color: #2B788B;
  color: #FFFFFF;
  padding: 0.875rem 1.375rem;
  border: none;
}

.btn-outline:hover {
  background-color: #FFFFFF;
  color: #2B788B;
  border: 3px solid #2B788B;
}

.btn-text {
  background-color: transparent;
  color: #000000;
  padding: 0;
  border: none;
}

.btn-text:hover {
  background-color: transparent;
  color: #2B788B;
  text-decoration: underline;
}

.label, .layout .banner p.sub-title {
  color: #585858;
}

.img-circle-container {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: center;
}

.circle-img-avatar {
  width: 2rem;
  height: 2rem;
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
  border: 2px solid #CCC;
}

.layout {
  display: grid;
  grid-template-columns: 0.9375rem repeat(3, 1fr 1.25rem) 1fr 0.9375rem;
  grid-template-rows: auto auto auto auto auto auto;
  position: relative;
}
.layout .nav {
  grid-area: 1/1/2/-1;
  max-height: 3.5rem;
  border-top: 1px solid #F6F5F4;
  border-bottom: 1px solid #F6F5F4;
  align-items: center;
  padding: 0.5625rem 1.25rem;
}
.layout .nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.layout .banner {
  grid-area: 2/2/3/-2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}
.layout .banner .title {
  color: #2B788B;
  margin-bottom: 0.5rem;
}
.layout .banner h3 {
  text-align: center;
  margin-bottom: 0.75rem;
}
.layout .banner p.sub-title {
  letter-spacing: -0.03125rem;
}
.layout .banner .banner-btn-margin {
  margin: 1.25rem 0;
}
.layout .banner .banner-footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}
.layout .banner .banner-footer .content-container .title {
  display: flex;
  margin-bottom: 0.1875rem;
}
.layout .banner .banner-footer .content-container .p-high-light {
  color: #000000;
  font-size: 1.25rem;
  font-family: DelaGothicOne;
  font-weight: 400;
  letter-spacing: -0.015625rem;
}
.layout .banner .banner-footer .content-container .p-high-light span {
  color: #2B788B;
}/*# sourceMappingURL=styles.css.map */